:root{
    --color-background-grey: #edf2f7;
    --color-white: #fff;
    --color-green: #b5f4a5;
    --color-purple: #d9a9ff;
    --color-almost-black: #090d10;
    --color-black: #000000;
}
*, :before, :after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.container {
    width: 100vw;
    min-height: 100vh;
    background-color: var(--color-background-grey)
}
.auth-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.sub-container {
    padding: 1rem;
}

.auth-intro-text{
    width: 50%;
}
.auth-input-area{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.auth-input-area .sub-container-child {
    width: 100%;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.auth-input-holder, .auth-input-holder {
    width: 100%;
}
.login-container {
    background-color: var(--color-white);
    padding: 3rem;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,.1), 0 2px 4px 0 rgba(0,0,0, .06);
}
.signup-container {
    background-color: var(--color-white);
    padding: 3rem;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,.1), 0 2px 4px 0 rgba(0,0,0, .06);
}
.login-container input {
    margin-top: 1rem;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.1), 0 1px 3px 0 rgba(0,0,0, .06);
}
.signup-container input {
    margin-top: 1rem;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.1), 0 1px 3px 0 rgba(0,0,0, .06);
}

.auth-switch-holder {
    margin-top: 0.5rem;
}
.auth-switch-holder span{
    margin-right: 0.5rem
}
.auth-switch-holder button {
    margin-left: 0.5rem;
    background-color: rgba(0,0,0,0);
}
.auth-switch-holder button:focus {
  outline: none;
}
input {
    padding: .5rem;
    width: 100%;
    height: 2.5rem;
}
input[type=submit], input[type=button] {
    cursor: pointer;
    background-color: var(--color-green);
}
button {
    cursor: pointer
}

.chat-container {
    width: 100%;
    height: 100vh;
}

.chat-pane-header {
    width: 100%;
    height: 10%;
    max-height: 5rem;
    flex: 1;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.1), 0 1px 3px 0 rgba(0,0,0, .06);
}


.chat-pane-messages-holder {
    min-height: 80%;
    flex: 2;
}

.chat-pane-messages {
    height: 100%;
    padding: 1rem;
    overflow-y: scroll;
}

.chat-pane-messages .author {
    float: right;
}

.chat-pane-messages li {
    width: 100%;
    min-height: 2.5rem;
    margin-top: 0.5rem;
}

.author, .incoming {
    max-width: 50%;
    min-height: 2rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    background-color: var(--color-white);
}

.chat-pane-messages .incoming {
    float: left
}

.chat-pane-input-holder {
    display: flex;
    width: 100%;
    height: 10%;
    align-items: flex-end;
    max-height: 5rem;
    flex: 1;
}

.chat-pane-input-form {
    height: 100%;
    width: 100%;
    display: flex;
    background-color: var(--color-background-grey);
    padding: 0.5rem;
    justify-content: space-around;
}

.chat-pane-input-form input {
    padding: .5rem;
    width: 70%;
    height: 100%;
    border-radius: 0.5rem;
}
.chat-pane-input-form button {
    width: 20%;
    border-radius: 0.5rem;
    background-color: #b5f4a5;
    color: var(--color-almost-black);
    height: 100%;
}

.chat-pane-container {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.chat-list-container {
    height: 100vh;
    background-color: var(--color-white);
    display: flex;
    flex-direction: column;
}

.chat-list-header {
    width: 100%;
    height: 10%;
    max-height: 5rem;
    background-color: var(--color-background-grey);
    flex: 1;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.1), 0 1px 3px 0 rgba(0,0,0, .06);
    display: flex;
    flex-direction: column;
}

.chat-list-header-child-top, .chat-list-header-child-bottom {
    height: 50%;
    width: 100%;
    padding: 0 0.5rem;

}

.chat-list-header-child-bottom button {
    height: 90%;
    width: 3rem;
    background-color: var(--color-background-grey);
}

.chat-list {
    padding: 0 0.5rem;
    min-height: 90%;
    flex: 2;
    list-style: none;
    overflow-y: scroll;
}

.chat-list-item {
    min-height: 3.5rem;
    border-bottom: 1px solid var(--color-background-grey);
    padding: 0.5rem 0.5rem
}

.search-modal-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem
}

.search-modal-input-holder {
    width: 70%;
    display: flex;
    margin-top: 1rem;
}
.search-modal-input-holder input {
    height: 3rem;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.1), 0 1px 3px 0 rgba(0,0,0,.06);
}
.search-modal-input-holder form {
    width: 100%;
}
.search-modal-result-holder {
    width: 70%;
    margin-top: 1rem;
}
.search-modal-result-holder ul {
    overflow-y: scroll;
}
.search-modal-result-item {
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0.5rem
}
.search-modal-result-item button {
    width: 5rem;
    height: 80%;
}

.user-add-font {
    color: var(--color-almost-black);
    font-size: 1.25rem;
}
/* Small screen breakpoint */
@media only screen and (max-width: 719px) {
    .auth-intro-text{
        width: 80%;
        min-width: 300px;
    }
    .auth-intro-text .sub-container-child h1 {
        font-size: 1rem;
    }
    .auth-input-area{
        width: 80%;
        min-width: 300px;
        margin-top: -7rem;
    }
    .login-container {
        background-color: rgba(0,0,0,0);
        padding: 0;
        box-shadow:0 0 0 0;
    }
    .signup-container {
        background-color: rgba(0,0,0,0);
        padding: 0;
        box-shadow:0 0 0 0;
    }
    .login-container input {
        margin-top: 0.5rem;
    }
    .signup-container input {
        margin-top: 0.5rem;
    }
    .search-modal-container {
        padding: 0;
    }
    .search-modal-container h1 {
        font-size: 1.5rem;
    }
    .search-modal-input-holder{
        width: 100%
    }
}

/* Medium screen breakpoint */
@media only screen and (min-width: 720px) and (max-width: 1079px) {
    .auth-intro-text{
        min-width: 350px;
    }
    .auth-input-area{
        min-width: 350px;
        margin-top: -1rem;
    }
    .login-container, .signup-container {
        background-color: var(--color-white);
        padding: 1.5rem;
    }
    .chat-container {
        display: flex;
    }
    .chat-list-container {
        width: 30%
    }
    .chat-pane-container {
        width: 70%
    }
}

/* Large screen breakpoint */
@media only screen and (min-width: 1080px) and (max-width: 1199px) {
    .auth-intro-text{
        max-width: 450px;
    }
    .auth-input-area{
        max-width: 450px;
    }
    .chat-container {
        display: flex
    }
    .chat-list-container {
        width: 30%
    }
    .chat-pane-container {
        width: 70%
    }
}

/* Larger screen breakpoint */
@media only screen and (min-width: 1200px) {
    .auth-intro-text{
        max-width: 40%;
    }
    .auth-input-area{
        max-width: 40%;
    }
    .chat-container {
        display: flex

    }
    .chat-list-container {
        width: 30%
    }
    .chat-pane-container {
        width: 70%
    }

    .chat-pane-input-holder  {
        max-height: 10rem
    }
}

/*
mobile: "(max-width: 719px)",
tablet: "(min-width: 720px) and (max-width: 1079px)",
desktop: "(min-width: 1080px) and (max-width: 1199px)",
widescreen: "(min-width: 1200px)",
landscape: "(orientation: landscape)"
*/

/*
previous
max-width: 400px
(min-width: 401px) and (max-width: 960px)
min-width: 961px
*/